.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/styles/App.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0c0a1f; /* Deep space blue */
    color: #e0e0e0;
    overflow-x: hidden; /* Prevent horizontal scroll when panel is out */
}

.app-container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.main-title {
    font-family: 'sans-serif';
    font-size: 3rem;
    color:var(--color-bg-secondary);;
    text-shadow: 0 0 1px #a879ff, 0 0 3px #a879ff;
    margin-bottom: 2rem;
}

